{% extends 'template.html' %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'authentication/templatestyle.css' %}">
    <link rel="stylesheet" href="{% static 'authentication/login/login.css' %}">
    <script>
        const facts = [
            "Did you know that China's Sinovac Biotech Vaccine has arrived in Indonesia?",
            "Have you washed your hands today?",
            "Wear masks, it helps!",
            "Physical distancing keeps the virus away!",
            "Stay at home!",
            "If you have a fever or a cough, please seek medical attention!",
            "Currently there's approximately 100.000 new cases of Covid-19 in 2 weeks in Indonesia!",
            "Stay safe and alert!",
            "I love you!",
            "I really like you!"
        ]
        
        $("document").ready(() => {
            function login_ajax(){
            let data = {
                email:$("#email").val(),
                password:$("#password").val()
            }

            $("#form-login")[0].reset()
            toastr["info"]("Please wait...")
            $.ajax({
                url: "{% url 'login_endpoint' %}",
                type:"POST",
                data:{...data, csrfmiddlewaretoken:"{{ csrf_token }}"},
                success: function(json){
                    const { success } = json
                    if(success){
                        toastr["success"]("Login successful, soon you will be redirected.")
                        setTimeout(() => {
                            window.location.pathname = "/"
                        }, 1000)
                    }
                },
                error: function(xhr, errmsg, err){
                    const { responseJSON } = xhr
                    if(!responseJSON.success){
                        toastr["error"]("Information credentials does not match, please try again.")
                    }
                }
            })
        }

        $("#form-login").on("submit", (event) => {
            event.preventDefault()
            login_ajax()
        })

        $('input').on("blur", (event) => {
            toastr["info"](facts[Math.floor(Math.random() * 10)])
        })

        })
    </script>
{% endblock %}


{% block body %}
    {% include 'navbar.html' with current="login" %}
    <div class="content-placeholder">
        <div class="background">
            {% include 'authentication/backgrounds.html' %}
        </div>
        <div class="content-container">
            <div class="content-card">
                <h1 class="cegah-covid">
                    CegahCovid
                </h1>
                <h1 class="login">
                    Login
                </h1>
                {{ form.non_field_errors }}
                <form method="POST" id="form-login">
                    <div class="email-input">
                        <img src="{% static 'authentication/Icon.png' %}" alt="person">
                        {{ form.email }}
                    </div>
                    <div class="password-input">
                        <img src="{% static 'authentication/Lock.png' %}" alt="lock">
                        {{ form.password }}
                    </div>
                    <input class="input-login-button" type="submit" value="LOGIN">
                </form>
                <div class="other-links">
                    <a href="/authentication/register" id="sign-up">
                        Sign Up
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}