{% extends 'template.html' %}
{% load static %}

{% block title %}
    Register
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'authentication/templatestyle.css' %}">
    <link rel="stylesheet" href="{% static 'authentication/register/register.css' %}">
    <script>

        const facts = [
            "Did you know that China's Sinovac Biotech Vaccine has arrived in Indonesia?",
            "Have you washed your hands today?",
            "Wear masks, it helps!",
            "Physical distancing keeps the virus away!",
            "Stay at home!",
            "If you have a fever or a cough, please seek medical attention!",
            "Currently there's approximately 100.000 new cases of Covid-19 in 2 weeks in Indonesia!",
            "Stay safe and alert!",
            "I love you!",
            "I really like you!"
        ]

        $("document").ready(() => {
            function create_account(){
            let data = {
                nama_depan:$('#nama_depan').val(),
                nama_belakang:$('#nama_belakang').val(),
                email:$('#email').val(),
                username:$('#username').val(),
                password:$('#password').val(),
                confirm_password:$('#confirm_password').val()
            }
            $.ajax({
                url: "{% url 'register_endpoint' %}",
                type: "POST",
                data: {...data, csrfmiddlewaretoken: "{{ csrf_token }}"},
                success: function(json){
                    const { success } = json
                    if(success){
                        toastr["success"]("Successfully created account, you will be redirected")
                        setTimeout(() => {
                            window.location.pathname = "/"
                        }, 1000)
                    }
                },
                error: function(xhr, errmsg, err){
                    const { responseJSON } = xhr
                    if(!responseJSON.success){
                        toastr["error"]("Something is wrong, please reload and try again!")
                    }
                }
            })
        }
        $("#register-form").on("submit", (event) => {
            event.preventDefault()
            create_account()
        })

        $('input').on("blur", (event) => {
            toastr["info"](facts[Math.floor(Math.random() * 10)])
        })
        })
    </script>
{% endblock %}


{% block body %}
    {% include 'navbar.html' %}
    <div class="content-placeholder">
        <div class="background">
            {% include 'authentication/backgrounds.html' %}
        </div>
        <div class="content-container">
            <div class="content-card register-content">
                <div class="register-section">
                    <h1>Sign Up</h1>
                    {{ form.non_field_errors }}
                    <form method="POST" id="register-form">
                        {% csrf_token %}
                        <p>
                            <label for="{{ form.nama_depan.id_for_label }}">Nama Depan</label>
                            {{ form.nama_depan }}
                        </p>
                        <p>
                            <label for="{{ form.nama_belakang.id_for_label }}">Nama Belakang</label>
                            {{ form.nama_belakang }}
                        </p>
                        <p>
                            <label for="{{ form.email.id_for_label }}">Email</label>
                            {{ form.email }}
                        </p>
                        <p>
                            <label for="{{ form.username.id_for_label }}">Username</label>
                            {{form.username}}
                        </p>
                        <p>
                            <label for="{{ form.username.id_for_label }}">Password</label>
                            {{ form.password }}
                        </p>
                        <p>
                            <label for="{{ form.confirm_password.id_for_label }}">Confirm Password</label>
                            {{ form.confirm_password }}
                        </p>
                        <p>
                        <input type="submit" value="Sign Up" id="register">
                        </p>
                    </form>
                </div>
                <div id="line-middle"></div>
                <div class="benefit-section mobile">
                    <h1 class="title">
                        Apa benefit memiliki akun?
                    </h1>
                    <ul class="benefits">
                        <li class="benefit">Mendapat email adanya artikel baru</li>
                        <li class="benefit">Dapat menulis artikel yang nantinya akan dipublikasikan</li>
                        <li class="benefit">Dapat menulis review dari artikel yang ada di web</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script>
    
    </script>
{% endblock %}
