* {
    margin:0;
    padding:0;
    font-family: poppins;
    }
.rect {
    position: absolute;
    width: 1114px;
    height: 417px;
    left: -440px;
    max-width:100%;
    
  background-color: #ADC9E3;
}

.img-fluid {
   



}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: poppins;
  }

.about {
  position: absolute;
  
   margin-top: 100px; 
   margin-left: 370px;
}

.text-justify{
  margin-top: 100px; 
  margin-left: 370px;
  margin-right: 370px;
}

h1 .text-justify{
  
}

.transition {
  -webkit-transform: scale(1.6); 
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
}
#content1 {
-webkit-transition: all .4s ease-in-out;
-moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-ms-transition: all .4s ease-in-out;
}

#content1 {
  width:80px;
  margin:25px;
}
#content2 {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  }
  
  #content2 {
    width:80px;
    margin:25px;
  }
  #content3 {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    }
    
    #content3 {
      width:80px;
      margin:25px;
    }


    #content4 {
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
      }
      
      #content4 {
        width:80px;
        margin:25px;
      }
  