/* TEMPLATE */
html{
    font-size:16px;
}
.content-placeholder{
    position:relative;
    display:flex;
    justify-content:center;
    z-index:1;
    width:100%;
}
.background{
    position:fixed;
    z-index:-1;
    top:0;
    left:0;
}
.content-card{
    position:relative;
    z-index:2;
    color:#E4E4E4;
    background: #413C3D;
    padding:2.5rem 3.125rem;
    display:inline-flex;
    flex-direction:column;
    text-align:center;
    align-items:center;
    margin:15vh auto;
}
.content-placeholder .background{
    position:fixed;
    width:100%;
    height:100%;
    overflow-y:visible;
}

body{
    overflow-x:hidden;
}

@media (max-width:768px){
    html{
        font-size:14px;
    }
}