<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .content {
            margin-right: 150px !important;
            margin-left: 150px !important;
        }
    </style>
    <title>CegahCovid</title>
</head>

<body>
    <!-- navbar -->
    {% include 'navbar.html' with current="articles" %}

    <div class="content pt-5">
        <div class="pt-5 row">
            <h1 class="px-2"><span style="color: #9C2208; font-size: larger"><b>{{ article.topik }}</b></span>
                <br><i>{{ article.judul }}</i><br><span style="font-size: large">{{ article.author }} | {{ article.date }}</span></h1>
        </div>
        <div class="row">
            <div class="d-flex justify-content-center w-100">
                <img class="img-responsive" src="{{ article.image }}" width="100%" height="auto">
            </div>
            <div class="w-100 break"></div>
            <div class="col-sm">
                <p style="text-align: justify">{{ article.content }}
                </p>
            </div>
        </div>
    </div>

    <script src="{% static 'article/script2.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>

</html>