<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="url_add" content="{% url 'article:add' %}">
    <meta name="url_article" content="{% url 'article:article' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'article/style.css' %}">
    <style>
        nav {
            position: fixed !important;
            top: 0;
            width: 100%;
        }
    </style>
    <title>CegahCovid</title>
</head>

<body>
    <!-- navbar -->
    {% include 'navbar.html' with current="articles" %}

    <div style="margin-top: 5rem;" class="p-md-5 p-1">
        {% if user.is_authenticated %}
        <h1>Tulis artikelmu di sini!</h1>
        <div id="judul">Judul Artikel : </div>
        <div class="">
            <div class="article-container d-flex flex-wrap">
                <!-- Ajax -->
            </div>
            <div class="container mt-5 border-top pt-3" id="Post">

                <form method="post">
                    <div class="form-group">
                        <label for="topik">Topik</label> {{ formulir.topik }}
                    </div>
                    <div class="form-group">
                        <label for="judul">Judul</label> {{ formulir.judul }}
                    </div>
                    <div class="form-group">
                        <label for="image">Tautan Gambar</label> {{ formulir.image }}
                    </div>
                    <div class="form-group">
                        <label for="content">Isi</label> {{ formulir.content }}
                    </div>
                    <button type="submit" id="submit" class="btn btn-primary mb-4 btn-add-article">Submit</button>
                </form>
            </div>
        </div>
        {% else %}
        <h1>Harap login sebelum menulis artikel!</h1>
        {% endif %}
    </div>
    </div>
    {% block js %}
    <script>
        $("input").addClass("form-control")
        $("textarea").addClass("form-control")
        $("input").eq(0).attr("placeholder", 'Topik')
        $("input").eq(1).attr("placeholder", 'Judul')
        $("input").eq(2).attr("placeholder", 'Tautan Gambar')
        $("input").eq(3).attr("placeholder", 'Isi')
        $("form").submit(function(e) { // onSubmit event
            e.preventDefault();
        });
    </script>
    <script src="{% static 'article/script.js' %}"></script>
    {% endblock js %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



</body>

</html>