{% extends 'template.html' %}
{% load static %}

{% block title %}
    Search
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'authentication/templatestyle.css' %}">
    <style>
        .content-container .content-card h1.search-title{
            font-size:2rem;
        }
        .content-container .content-card h3.instruction{
            font-size:1.2rem;
        }
        .content-container .content-card .search-container form input[type="text"]{
            padding:0.5rem 1rem;
            font-size:1.5rem;
            border: 2px solid #000;
            border-radius:10px;
            box-sizing:border-box;
            color:#413C3D;
            background:#C4C4C4;
            margin-top:1rem;
            width:100%;
            max-width:500px;
        }
        .content-container .content-card .search-container form input[type="text"]:focus{
            outline:none;
        }
        .content-container .content-card .search-container form input[type="submit"]{
            padding:0.5rem 1.5rem;
            border-radius:20px;
            background:#C4C4C4;
            color:#413C3D;
            font-weight:bold;
            border:none;
            margin-top:0.5rem;
        }
    </style>
{% endblock %}


{% block body %}
    {% include 'navbar.html' with current="search" %}
    <div class="content-placeholder">
        <div class="background">
            {% include 'authentication/backgrounds.html' %}
        </div>
        <div class="content-container">
            <div class="content-card">
                <h1 class="search-title">CegahCovid</h1>
                <h3 class="instruction">Search your Article</h3>
                <div class="search-container">
                    <form action="/article/search/result/" method="post">
                        {% csrf_token %}
                        <input type="text" name="search_query" placeholder="search here...">
                        <input type="hidden" name="current_page" value="1">
                        <input type="submit" value="Search">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}