* {
    margin:0;
    padding:0;
    font-family: poppins;
    }
.rect {
    position: absolute;
    width: 1114px;
    height: 417px;
    left: -440px;
    max-width:100%;
    
  background-color: #ADC9E3;
}

.img-fluid {
   



}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: poppins;
  }

.about {
  position: absolute;
  
   margin-top: 100px; 
   margin-left: 370px;
}

.text-justify{
  margin-top: 100px; 
  margin-left: 370px;
  margin-right: 370px;
}

h1 .text-justify{
  
}
