/* LOGIN */
.login {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.cegah-covid {
  font-size: 2.5rem;
}
.email-input,
.password-input {
  position: relative;
  display: flex;
  align-items: center;
  background: #fff;
}
.email-input img,
.password-input img {
  position: absolute;
  margin: 0 15px;
  margin-top: 3px;
}
.email-input input[type="email"],
.password-input input[type="password"],
.email-input input[type="email"]:focus,
.password-input input[type="password"]:focus {
  font-size: 1rem !important;
  background: #fff;
  border: none;
  padding: 15px 10px;
  outline: none;
  width: 300px;
  padding-left: 70px;
}
.content-placeholder form div {
  margin: 20px 0;
}
.input-login-button {
  width: 100%;
  padding: 10px 0;
  border: none;
  color: #413c3d;
  font-weight: bold;
  background: #c4c4c4;
  cursor: pointer;
  border-radius: 40px;
}
.input-login-button input[type="submit"] {
  cursor: pointer !important;
}
.other-links {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}
.other-links a,
.other-links a:hover {
  color: #e4e4e4;
  font-weight: 700;
  font-size: 1rem;
}
ul.errorlist.nonfield {
  padding: 0;
  margin: 0;
  margin-top: 1rem;
}
ul.errorlist.nonfield li {
  color: red;
  font-style: italic;
  list-style: none;
}
@media (max-width: 420px) {
  .content-card {
    padding: 1.5rem 2.5rem;
  }
  .cegah-covid {
    font-size: 2rem;
  }
  .login {
    font-size: 1rem;
  }
  .email-input input[type="email"],
  .password-input input[type="password"],
  .email-input input[type="email"]:focus,
  .password-input input[type="password"]:focus {
    font-size: 1rem;
    width: 250px;
  }
}
@media (max-width: 350px) {
  .content-card {
    padding: 1rem 2rem;
  }
  .cegah-covid {
    font-size: 2rem;
  }
  .login {
    font-size: 1rem;
  }
  .email-input input[type="email"],
  .password-input input[type="password"],
  .email-input input[type="email"]:focus,
  .password-input input[type="password"]:focus {
    font-size: 1rem;
    width: 250px;
  }
}
