{% extends 'template.html' %}
{% load static %}

{% block title %}
    Form Member
{% endblock %}


{% block body %}
  {% include 'navbar.html' with current="form" %}
    
            
                <form action="savekegi" method="POST">
                    {% csrf_token %}
                    
                    <table  cellspacing="15" style="margin-left: auto; margin-right: auto; margin-top: 40px;" >
                        {{form.as_table}}
                    </table>
                    <input type="submit" class="btn btn-success" value="Submit" style="margin-bottom: 353px; margin-left: 660px; margin-top: 50px;"> 
            
                    
                    
                </form>
                
        
{% endblock %}
