{% extends 'template.html' %}
{% load static %}

{% block title %}
    About Us
{% endblock %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>

<script>
  $(document).ready(function(){
  $("img#content1").hover(function() {
      $("img#content1").addClass('transition');
  
  }, function() {
      $("img#content1").removeClass('transition');
  });
});
</script>
<script>
  $(document).ready(function(){
  $("img#content2").hover(function() {
      $("img#content2").addClass('transition');
  
  }, function() {
      $("img#content2").removeClass('transition');
  });
});
</script>
<script>
  $(document).ready(function(){
  $("img#content3").hover(function() {
      $("img#content3").addClass('transition');
  
  }, function() {
      $("img#content3").removeClass('transition');
  });
});
</script>
<script>
  $(document).ready(function(){
  $("img#content4").hover(function() {
      $("img#content4").addClass('transition');
  
  }, function() {
      $("img#content4").removeClass('transition');
  });
});
</script>
<script>
  $(document).ready(function () {
    var fold = $("#fold");
    fold.cliked = 1;
    fold.click(function () {
        $("#fold_p").text((fold.cliked++ % 2 == 0) ? "Ibnu Hambali" : "@itenkoui");
    });
});
</script>
<script>
  $(document).ready(function () {
    var fold = $("#igirza");
    fold.cliked = 1;
    fold.click(function () {
        $("#ig1").text((fold.cliked++ % 2 == 0) ? "Muhammad Irza" : "@muhammad_irza");
    });
});
</script>
<script>
  $(document).ready(function () {
    var fold = $("#igmario");
    fold.cliked = 1;
    fold.click(function () {
        $("#ig2").text((fold.cliked++ % 2 == 0) ? "Mario Serano" : "@rockattmario");
    });
});
</script>
<script>
  $(document).ready(function () {
    var fold = $("#igmax");
    fold.cliked = 1;
    fold.click(function () {
        $("#ig3").text((fold.cliked++ % 2 == 0) ? "Maximilian Aryo" : "@anak_quanta");
    });
});
</script>
<link rel="stylesheet" href="{% static 'about/style.css' %}">
{% endblock %}
{% block body %}
  {% include 'navbar.html' with current="about" %}
  
        <img src="{% static 'about/DR.png' %}" class="img-fluid" alt="Responsive image">
      <h1 style="font-size:4vw;text-align: center;position: relative;top: 70px;">About Us</h1>
      
      <p class="text-justify" style="margin-top: 100px;">CegahCovid adalah situs yang berisikan tentang artikel-artikel kesehatan,
        utamanya dalam rangka mencegah penyebarluasan pandemi COVID-19.
        Website ini menawarkan pengalaman baru dalam melakukan pencegahan,
        yaitu menulis artikel. User dapat menulis artikel yang nantinya akan dipublish.
        Dengan demikian, harapannya masyarakat akan lebih aware dalam menghadapi pandemi ini.</p>
      <h2 style="text-align: center;margin-top: 80px;">Team</h2>
        
      <div class="row" style="margin-top: 100px; margin-left: 100px; margin-right: 100px;">
        <div class="col-sm-3">
          <div class="card text-center">
            <img src="{% static 'about/ibnu.png' %}" id="content1" class="card-img-top" alt="..." style="width: 3cm; height: 4cm; margin-left: auto; margin-right: auto; display: block;">
            <div class="card-body">
              <div id="fold">
                <h5 class="card-title" id="fold_p">Ibnu Hambali</h5>
              </div>
              <p class="card-text">Full Stack Developer</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card text-center">
            <img src="{% static 'about/irza.png' %}" id="content2" class="card-img-top" alt="..." style="width: 3cm; height: 4cm; margin-left: auto; margin-right: auto; display: block;">
            <div class="card-body">
              <div id="igirza">
                <h5 class="card-title" id="ig1">Muhammad Irza</h5>
              </div>
              <p class="card-text">Full Stack Developer</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card text-center">
            <img src="{% static 'about/mario.png' %}" id="content3" class="card-img-top" alt="..." style="width: 3cm; height: 4cm; margin-left: auto; margin-right: auto; display: block;">
            <div class="card-body">
              <div id="igmario">
                <h5 class="card-title" id="ig2">Mario Serano</h5>
              </div>
              <p class="card-text">Full Stack Developer</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card text-center">
            <img src="{% static 'about/aryo.png' %}" id="content4" class="card-img-top" alt="..." style="width: 3cm; height: 4cm; margin-left: auto; margin-right: auto; display: block;">
            <div class="card-body">
              <div id="igmax">
                <h5 id="ig3" class="card-title">Maximilian Aryo</h5>
              </div>
              <p class="card-text">Full Stack Developer</p>
            </div>
          </div>
        </div>
      </div> 
    {% if user.is_authenticated %}
    <h2 style="text-align: center; margin-top: 100px;">Click button below to join us!</h2>
    
    <a class="btn btn-info" href="{% url 'about:form' %}" role="button"  style="margin-left: 50%;margin-right: auto; margin-top: 30px; margin-bottom: 30px;">join</a>
    {% if objs.count > 0 %}
    <h2 style="text-align: center;margin-top: 80px;">Additional Team Member</h2>
    
    <div class="row" style="margin-top: 100px; margin-left: 100px; margin-right: 100px;">
      {% for item in objs %}
      <div class="col-sm-3">
        <div class="card text-center" style="margin-bottom: 30px;">
          <img src="{% static 'about/fb1.png' %}" class="card-img-top" alt="..." style="width: 3cm; height: 4cm; margin-left: auto; margin-right: auto; display: block;">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{item.role}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    
    {% endif %}
  {% else %}
    <h2 style="text-align: center; margin-top: 100px; margin-bottom: 30px;">Login to view more!</h2>
    {% endif %}
 
    {% endblock %}