/* MOBILE FIRST DEVELOPMENT */
.content-card.register-content {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.line-middle {
  width: 2px;
  height: 100%;
  background: #e4e4e4;
}
.content-card .register-content h1 {
  font-size: 1.875rem;
}
.register-section {
  width: 100%;
}
.register-section form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.register-section form p {
  margin: 0;
}
.register-section form p label {
  display: block;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
}
.register-section form p input {
  width: 100%;
}
.register-section form p:last-child {
  grid-column: 1/3;
  margin-top: 1rem;
}
.register-section form input[type="submit"]#register {
  background: #c4c4c4;
  color: #413c3d;
  font-weight: bold;
  text-transform: uppercase;
  width: unset;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 50px;
}
.mobile {
  display: block;
}
.benefit-section .benefits .benefit {
  font-size: 1.25rem;
  text-align: left;
}
#line-middle {
  width: 100%;
  height: 2px;
  background: #c4c4c4;
  margin: 1.25rem 0;
}
ul.errorlist.nonfield {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}
ul.errorlist.nonfield li {
  color: red;
  font-style: italic;
  list-style: none;
}
@media (min-width: 769px) {
  .content-card.register-content {
    flex-direction: row;
  }
  #line-middle {
    height: 400px;
    width: 2px;
    margin: 0 2rem;
  }
}
